@model AddressBook.DtoModel.Address;
@{
    ViewData["Title"] = "Details";
}

    <div>
        <h4>Address details</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.AddressName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AddressName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>
        </dl>
    </div>